.home{

.icon--centered {
  display: flex;
  justify-content: center;
}

.wrapper{
  margin:auto;
  max-width: 960px;
}

.mozilla{
  margin:auto;
  // padding:auto;
  display: block;
  margin: 0 auto;
  background:black;
  color: white;
  padding-bottom:0.2em;
  padding-top:0.1em;
  text-align: center;
  img{
    width:100px;
    position:relative;
    top:5px;
  } 
  
  }

}