.title {
  &.is-spaced{  
  padding: 1em 0em;
  }

  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
  &.is-1 {
    font-size: 3em;
  }

  &.is-2 {
    font-size: 2.5rem;
  }

  // .is-3{

  // }

  &.is-4 {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-weight: 300;

  &.is-spaced{
    padding: 1em;

  }  

  &.is-3 {
    font-size: 2rem;
  }
}
